// блок с преимуществами нашего приложения
.advantages {
  width: 100%;

  padding: 45px 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__headline-part {
  width: 202px;

  color: @f-color-main;
  font-weight: @f-weight-low;

  line-height: 1.2;

  text-align: center;

  margin: 0 0 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--first-part {
    margin-bottom: 30px;
  }
}

.advantages__background-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @bg-color-light;
}

.advantages__content-wrapper {
  width: @mobile-width;

  padding: 90px 20px 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__description-list {
  width: 100%;

  .list-style-drop;

  margin-bottom: 40px;
}

.advantages__description-item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.advantages__description-headline {
  color: @f-color-black;
  font-size: @f-size-18;
  font-weight: @f-weight-high;

  line-height: 24px;

  margin: 0;
  margin-bottom: 20px;
}

.advantages__description-content {
  color: @f-color-main;
  font-size: @f-size-14;
  font-weight: @f-weight-normal;

  line-height: 24px;

  margin: 0;
}
/*                                                            variant 1
.advantages__iphone {
  width: 157px;
  height: 280px;

  margin: 0;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 0%;

  &--gray {
    display: none;
  }

  &--pink {
    display: none;
  }

  &--smile {
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}
*/






//                                                        variant 2
.advantages__iphone {
  &--gray {
    display: none;
  }

  &--pink {
    display: none;
  }

  &--smile {
    display: block;
  }
}







@media (min-width: @tablet-width) {
  .advantages__headline-part {
    width: 585px;

    font-size: @f-size-40;

    &--first-part {
      margin: 0;
    }

    &--second-part {
      padding: 0 100px;
    }
  }

  .advantages__content-wrapper {
    width: @tablet-width;

    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__description-list {
    width: @mobile-width;
  }

  .advantages__description-item {
    text-align: left;
  }
/*                                                            variant 1
  .advantages__iphone {
    &--smile {
      width: 268px;
      height: 481px;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");
    }
  }
*/
}

@media (min-width: @desktop-width) {
  .advantages__headline-part {
    width: 731px;

    font-size: @f-size-50;
  }

  .advantages__content-wrapper {
    width: @desktop-width;

    padding: 0;
    padding-right: 10px;
    padding-left: 10px;

    flex-direction: column-reverse;
  }

  .advantages__description-list {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__description-item {
    width: 292px;

    text-align: center;

    &:nth-child(1n) {
      margin: 0;
    }
  }

  .advantages__description-headline {
    font-size: @f-size-30;

    line-height: 30px;

    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__description-content {
    font-size: @f-size-18;

    line-height: 30px;

    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__iphone-wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
/*                                                            variant 1
  .advantages__iphone {
    &--gray {
      width: 292px;
      height: 302px;

      display: block;

      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &--pink {
      width: 292px;
      height: 302px;

      display: block;

      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &--smile {
      width: 292px;
      height: 302px;

      display: block;

      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }
*/





//                                                        variant 2
  .advantages__iphone {
    &--gray {
      display: block;
    }

    &--pink {
      display: block;
    }

    &--smile {
      display: block;
    }
  }
}
