// блок тега main с сылкамий на приложение в интернет-магазинах + информация о совместимости с ОС
.application {
  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// в случае если дисплей высокой плотности (а именно от 1.5dppx) и размер вьюпорта больше 320px то меняем фоновое изображение
@media (min-width: @mobile-width) and (min-resolution: 1.5dppx) {
  .application {
    background-image: url("../img/bg-back-mobile@2x.jpg");

    // ужимаем изображение до "нормального размера" после ретинизации оного
    background-size: 320px 462px;
  }
}

.application__wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.application__introduction {
  width: @mobile-width;
  min-height: 466px;

  padding: 0 20px;

  position: relative;
}

.application__headline {
  width: 100%;

  color: @f-color-white;
  font-size: @f-size-24;
  font-weight: @f-weight-low;

  text-align: center;
  line-height: 1.2;

  margin: 95px 0 0 0;

  padding: 0;

  position: relative;
  z-index: 1;

  &--gallery {
    margin: 104px 0 0 0;
  }
}

.application__content-picture-wrapper {
  width: 258px;
  height: 286px;

  position: absolute;
  bottom: -1px;
  left: 0;
}

.application__use {
  width: 100%;
  height: auto;
}

.application__content-wrapper {
  width: 100%;

  background-color: #1d2631;

  padding: 28px 20px 16px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.application__download-btn {
  color: @f-color-white;
  font-size: @f-size-18;
  font-weight: @f-weight-high;
  text-decoration: none;

  text-align: center;

  padding: 14px 36px 16px 36px;

  margin: 0 0 30px 0;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

.application__mobile-list {
  width: 229px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // миксина для сброса стандартных стилей у списка ul
  .list-style-drop;
}

.application__mobile-item {
  width: 70px;
  height: 70px;
}

.application__mobile-os {
  width: 100%;
  height: 100%;

  font-size: 0;

  display: block;

  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    background-position: 50% 2px;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.application__accessibility {
  width: 230px;

  color: @f-color-white;
  font-size: @f-size-14;
  font-weight: @f-weight-low;

  line-height: 22px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .application {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0;
  }

  .application__wrapper {
    width: auto;
  }

  .application__introduction {
    width: @tablet-width;
    min-height: 730px;
  }

  .application__headline {
    width: 300px;

    font-size: @f-size-40;

    padding: 0 40px;

    margin-top: 203px;

    &--gallery {
      width: 100%;

      font-size: @f-size-50;

      position: static;

      margin: 180px 0 0 0;

      padding: 0 50px;
    }
  }

  .application__content-picture-wrapper {
    width: 700px;
    height: 545px;

    bottom: 1px;
    left: -20px;
  }

  .application__content-wrapper {
    width: 300px;

    padding: 28px 0 15px 0;

    background-color: transparent;

    position: absolute;
    top: 351px;
    left: 20px;
  }

  .application__download-btn {
    width: 100%;

    padding: 13px 35px 15px 35px;

    margin-bottom: 41px;
  }

  .application__mobile-list {
    margin-bottom: 9px;
  }

  .application__mobile-os {
    &--apple {
      background-position: 50% 5px;
    }

    &--windows {
      background-position: 14px 17px;
    }
  }

  .application__accessibility {
    width: 100%;

    font-size: @f-size-18;
    line-height: 24px;
  }
}

// в случае если дисплей высокой плотности (а именно от 1.5dppx) и размер вьюпорта больше 660px то меняем фоновое изображение
@media (min-width: @tablet-width) and (min-resolution: @retina-dppx) {
  .application {
    background-image: url("../img/bg-back-tablet@2x.jpg");

    // ужимаем изображение до "нормального размера" после ретинизации оного
    background-size: 1200px 729px;
  }
}

@media (min-width: @desktop-width) {
  .application {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 12px;
  }

  .application__introduction {
    width: @desktop-width;
    min-height: 876px;

    padding: 0 10px;
  }

  .application__headline {
    width: 250px;

    font-size: @f-size-50;

    padding: 0;

    margin: 230px 0 0 25px;

    &--gallery {
      width: 100%;

      padding: 0 200px;

      margin: 185px 0 0 0;
    }
  }

  .application__content-picture-wrapper {
    width: 1050px;
    height: 645px;

    bottom: 11px;
    left: 26px;
  }

  .application__content-wrapper {
    top: 435px;
    left: 10px;
  }

  .application__download-btn {
    font-size: @f-size-21;

    padding: 11px 0 14px 0;

    margin-bottom: 64px;
  }

  .application__mobile-list {
    margin-bottom: 25px;
  }

  .application__mobile-os {
    &--apple {
      background-position: 11px 2px;
    }

    &--windows {
      background-position: 13px 14px;
    }

    &--android {
      background-position: 13px 10px;
    }
  }
}

// в случае если дисплей высокой плотности (а именно от 1.5dppx) и размер вьюпорта больше 960px то меняем фоновое изображение
@media (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
  .application {
    background-image: url("../img/bg-back-desktop@2x.jpg");

    // ужимаем изображение до "нормального размера" после ретинизации оного
    background-size: 2560px 853px;
  }
}
