// блок с информацией о фирме написавшей сайт
.created-by {
  width: min-content;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.created-by__text {
  color: @f-color-main;
  font-size: @f-size-14;
  font-weight: @f-weight-normal;
}

.created-by__link {
  width: 27px;
  height: 34px;

  font-size: 0;

  display: block;

  background-image: url("../img/htmlacademy.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (min-width: @tablet-width) {
  .created-by {
    padding-left: 12px;

    margin-top: 12px;
  }

  .created-by__text {
    margin-right: 15px;
  }

  .created-by__link {
    background-size: 40px auto;

    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .created-by__text {
    font-size: @f-size-18;
  }
}
