// блок с информацией о фирме написавшей сайт
.created-by {
  width: 130px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &--gallery {
    margin-top: -2px;
  }
}

.created-by__text {
  color: @f-color-main;
  font-size: @f-size-14;
  font-weight: @f-weight-normal;

  margin-right: 12px;

  &--challenge {
    margin-top: -3px;
  }
}

.created-by__link {
  width: 35px;
  height: 35px;

  font-size: 0;

  display: block;

  background-image: url("../img/htmlacademy.svg");
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: 50%;

  &--gallery {
    background-position: -4px -1px;
  }

  &--challenge {
    background-position: -4px -2px;
  }
}

@media (min-width: @tablet-width) {
  .created-by {
    width: min-content;

    padding: 0 0 0 12px;

    margin-top: 13px;

    &--gallery {
      padding-left: 1px;
    }
  }

  .created-by__text {
    margin-top: 1px;
    margin-right: 6px;

    &--gallery {
      margin-right: 2px;
    }
  }

  .created-by__link {
    background-size: 40px auto;
    background-position: 3px -2px;

    margin-top: 4px;

    &--index {
      background-position: 2px -2px;
    }

    &--gallery {
      min-width: 40px;
      min-height: 40px;

      background-position: 7px 0;
    }

    &--challenge {
      background-position: 2px -2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .created-by {
    width: max-content;

    padding: 2px 0 0 0;
  }

  .created-by__text {
    font-size: @f-size-18;

    margin-top: -2px;
  }

  .created-by__link {
    background-position: 1px -2px;

    &--gallery {
      background-position: 6px 1px;
    }
  }
}
