// блок с описанием эффекта от использования приложения
.effect-time {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect-time {
    width: 100%;

    padding: 60px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .effect-time__wrapper {
    width: @tablet-width;

    padding-right: 20px;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .effect-time__picture {
    width: 238px;
    height: 276px;

    background-image: url("../img/icon-timer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  .effect-time__content-wrapper {
    width: 312px;

    padding: 35px 5px 35px 1px;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .effect-time__headline {
    width: 200px;

    color: @f-color-black;
    font-size: @f-size-30;
    font-weight: @f-weight-high;

    line-height: 38px;

    margin-bottom: 9px;
  }

  .effect-time__headline-part-one {
    display: flex;
    flex-direction: column;

    margin-bottom: -2px;
  }

  .effect-time__context,
  .effect-time__link {
    width: 297px;

    font-size: @f-size-14;
    font-weight: @f-weight-normal;

    line-height: 24px;
  }

  .effect-time__context {
    color: @f-color-main;

    padding: 0;

    margin: 0 0 11px 0;
  }

  .effect-time__link {
    color: @f-color-accent;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .effect-time {
    padding: 26px 0 54px 0;

    background-color: @bg-color-light;
  }

  .effect-time__wrapper {
    width: @desktop-width;

    padding: 0 10px;

    justify-content: space-between;
    align-items: center;
  }

  .effect-time__picture {
    width: 298px;
    height: 357px;

    margin-left: 1px;
  }

  .effect-time__content-wrapper {
    width: 574px;

    padding: 90px 0 0 0;

    align-self: stretch;
  }

  .effect-time__headline {
    width: 100%;

    font-size: @f-size-30;
    font-weight: @f-weight-high;

    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
  }

  .effect-time__headline-part-one {
    margin-right: 9px;

    flex-direction: row;
  }

  .effect-time__context {
    margin-bottom: 30px;
  }

  .effect-time__context,
  .effect-time__link {
    width: 540px;

    font-size: @f-size-18;
    font-weight: @f-weight-normal;

    line-height: 30px;
  }
}
