// блок тега main с каруселью отзывов
.feedback {
  width: 100%;

  padding: 30px 0;

  margin-top: -43px;

  background-color: @white-color-main;

  display: flex;
  justify-content: center;
}

.feedback__content-wrapper {
  width: @mobile-width;

  padding: 0 20px;

  margin-bottom: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__list {
  .list-style-drop;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__element {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__user-name {
  color: @f-color-black;
  font-size: @f-size-18;
  font-weight: @f-weight-high;

  margin: 1px 0 2px 0;
}

.feedback__user-age-profession {
  display: none;
}

.feedback__user-comment {
  color: @f-color-main;
  font-size: @f-size-14;
  font-weight: @f-weight-normal;

  line-height: 30px;

  padding: 0;

  margin: 0 0 22px 0;
}

.feedback__arrow {
  display: none;
}

// переключатель карусели
.feedback__switcher-wrapper {
  width: 100%;

  padding: 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feedback__switcher {
  width: 6px;
  height: 6px;

  background-color: #b5b9be;

  border-radius: 50%;

  box-sizing: content-box;

  &--checked {
    background-color: @white-color-main;

    border: 3px solid @dark-color-main;
  }

  &:not(:last-child) {
    margin-right: 18px;
  }

  // добавляем обводку элементу когда он в фокусе, того же цвета как и у других элементов в google chrome
  &:focus + label {
    outline: 1px solid #4d90fe;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    padding-top: 29px;

    margin-top: 0;
  }

  .feedback__content-wrapper {
    width: @tablet-width;
  }

  .feedback__element {
    flex-direction: column-reverse;
  }

  .feedback__user {
    margin: 0 0 30px 0;
  }

  .feedback__user-name {
    font-size: @f-size-20;

    margin-bottom: 14px;
  }

  .feedback__user-age-profession {
    color: @f-color-main;
    font-size: @f-size-14;
    font-weight: @f-weight-normal;

    display: block;
  }

  .feedback__user-comment {
    font-size: @f-size-18;

    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    padding-bottom: 34px;
  }

  .feedback__content-wrapper {
    width: @desktop-width;

    padding: 156px 10px 0 10px;

    background-image: url("../img/icon-quotes.svg");
    background-size: 79px 63px;
    background-repeat: no-repeat;
    background-position: 443px 43px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
  }

  .feedback__list {
    width: 685px;

    margin-left: 50px;
    margin-right: 50px;
  }

  .feedback__user-name {
    font-size: @f-size-24;

    margin: 0 0 9px 0;
  }

  .feedback__user-age-profession {
    font-size: @f-size-18;
  }

  .feedback__user-comment {
    width: 700px;

    font-size: @f-size-18;
  }

  .feedback__switcher-wrapper {
    display: none;
  }

  .feedback__arrow {
    width: 30px;
    height: 50px;

    position: absolute;
    top: 180px;

    display: block;

    border: none;

    background-size: 22px 41px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;

    &--left {
      background-image: url("../img/icon-review-arrow-left.svg");
      left: 7px;
    }

    &--right {
      background-image: url("../img/icon-review-arrow-right.svg");
      right: 7px;
    }
  }
}
