// блок-галерея на странице фотографий пользователей
.gallery {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 32px;

  margin-top: -222px;

  position: relative;
  z-index: 0;

  background-color: #ffffff;
}

.gallery__panorama {
  width: 100%;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__best-photo {
  color: @f-color-white;
  font-size: @f-size-12;
  font-weight: @f-weight-high;
  text-transform: uppercase;

  padding: 12px 20px;

  background-color: #d22856;

  position: absolute;
  top: -137px;
  right: 0;
}

.gallery__wrapper {
  width: @mobile-width;

  padding: 0 20px;

  background-color: #ffffff;
}

.gallery__headline {
  width: 245px;

  font-size: @f-size-14;
  font-weight: @f-weight-normal;
  color: @f-color-main;

  text-align: center;

  line-height: 30px;

  margin-bottom: 49px;
}

.gallery__list {
  width: 100%;

  .list-style-drop;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__item {
  margin-bottom: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__content-wrapper {
  width: 100%;

  padding: 22px 18px 36px 18px;

  margin-top: -3px;

  background-color: @bg-color-light;

  position: relative;

  &--panorama {
    // 40 - отступы для мобильного варианта. Взяты из .gallery__wrapper
    width: @mobile-width - 40;
  }
}

.gallery__username-publication-time {
  color: @f-color-main;
  font-size: @f-size-14;

  margin: 0 0 4px 0;
}

.gallery__username {
  font-weight: @f-weight-high;
}

.gallery__publication-time {
  font-size: @f-size-12;
  font-weight: @f-weight-low;
  text-transform: uppercase;
}

.gallery__comment {
  width: 100%;

  color: @f-color-main;
  font-size: @f-size-14;
  font-weight: @f-weight-normal;

  line-height: 24px;

  margin: 0;
}

.gallery__like {
  position: relative;
  top: 11px;
}

.gallery__like-icon {
  width: 15px;
  height: 15px;

  background: url("../img/icon-heart.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: 50%;

  border: none;

  position: absolute;
  top: 3px;
  left: -1px;
}

.gallery__like-count {
  color: @f-color-accent;
  font-size: @f-size-12;
  font-weight: @f-weight-normal;
  text-transform: uppercase;

  margin-left: 32px;
}

@media (min-width: @tablet-width) {
  .gallery {
    margin-top: -290px;
  }

  .gallery__panorama {
    margin-bottom: 49px;
  }

  .gallery__photo {
    width: 100%;
    height: auto;
  }

  .gallery__wrapper {
    width: @tablet-width;
  }

  .gallery__headline {
    width: 700px;

    font-size: @f-size-18;

    padding: 45px 100px 27px 100px;
  }

  .gallery__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 300px;
  }

  .gallery__content-wrapper {
    width: 100%;
    min-height: 155px;

    padding: 28px 28px 25px 28px;

    &--panorama {
      // 40 - отступы для мобильного варианта. Взяты из .gallery__wrapper
      width: @tablet-width - 40;
      min-height: 110px;

      padding: 28px 28px 25px 28px;
    }
  }

  .gallery__best-photo {
    top: -453px;
    right: -1px;
  }

  .gallery__like {
    width: 100%;

    padding: 0 31px 0 28px;

    margin: 0;

    position: absolute;
    top: auto;
    bottom: 25px;
    left: 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &--panorama {
      height: max-content;
      width: max-content;

      position: absolute;
      top: 28px;
      right: -2px;
      left: auto;
    }
  }

  .gallery__like-icon {
    position: static;
  }

  .gallery__like-count {
    line-height: 18px;

    margin: 0 16px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    margin-top: -470px;
  }

  .gallery__headline {
    width: @desktop-width;

    padding: 0 160px;

    margin: 60px 0 88px 0;
  }

  .gallery__wrapper {
    width: @desktop-width;

    padding: 0 10px;
  }

  .gallery__item {
    margin-bottom: 54px;
  }

  .gallery__content-wrapper {
    min-height: 155px;

    padding: 28px 28px 24px 27px;

    &--panorama {
      // 20 - отступы для мобильного варианта. Взяты из .gallery__wrapper
      width: @desktop-width - 20;

      min-height: 50px;
    }
  }

  .gallery__best-photo {
    padding: 11px 20px 12px 19px;

    top: -452px;
    right: 0;
  }

  .gallery__like {
    padding-right: 29px;

    bottom: 25px;
    left: -1px;

    &--panorama {
      padding: 0 30px;

      right: 2px;
      left: auto;
    }
  }
}
