// блок-шапка + логотип + бургер (попап инициатор)
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.site-header__wrapper {
  width: @mobile-width;

  background-color: @f-color-main;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-header__logo {
  margin: 22px 20px 26px 20px;
}

.site-header__burger {
  width: 24px;
  height: 23px;

  font-size: 0;

  margin: 22px 20px 26px 20px;

  border: none;

  background-color: transparent;
  background-image: url("../img/icon-menu-cross.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (min-width: @mobile-width) {
  .site-header__wrapper {
    width: @mobile-width;
  }
}

@media (min-width: @tablet-width) {
  .site-header__wrapper {
    width: @tablet-width;
    min-height: 110px;

    margin-bottom: -110px;
  }

  .site-header__logo {
    margin: 27px 40px 43px 40px;
  }

  .site-header__burger {
    margin: 45px 39px 42px 39px;
  }
}

@media (min-width: @desktop-width) {
  .site-header__wrapper {
    width: @desktop-width;

    margin: 0;

    flex-wrap: nowrap;
  }

  .site-header__burger {
    display: none;
  }
}
