// блок-шапка + логотип + бургер (попап инициатор)
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: -70px;

  background-color: @f-color-main;

  position: relative;
  z-index: 1;

  &--menu-closed {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.site-header__hat {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 20px 25px 20px;
}

.site-header__wrapper {
  width: @mobile-width;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header__burger {
  width: 24px;
  height: 24px;

  font-size: 0;

  border: none;

  background-color: transparent;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;

  &--open-menu {
    background-image: url("../img/icon-menu-burger.svg");
  }

  &--close-menu {
    background-image: url("../img/icon-menu-cross.svg");
  }
}

@media (min-width: @tablet-width) {
  .site-header {
    margin-bottom: -110px;
  }

  .site-header__wrapper {
    width: @tablet-width;
    min-height: 110px;
  }

  .site-header__hat {
    padding: 27px 20px 40px 20px;
  }
}

@media (min-width: @desktop-width) {
  .site-header {
    background-color: rgba(0, 0, 0, 0.25);

    margin-bottom: -121px;
  }

  .site-header__wrapper {
    width: @desktop-width;

    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 10px 40px 10px;
  }

  .site-header__hat {
    width: auto;

    padding: 0;
  }

  .site-header__burger {
    display: none;
  }
}
