// скелет футера сайта + обёртка + логотип
.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.site-footer__wrapper {
  width: 320px;

  padding: 40px 0;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__link-logo {
  margin-bottom: 40px;
}

@media (min-width: @mobile-width) {
  .site-footer__wrapper {
    width: @mobile-width;
  }
}

@media (min-width: @tablet-width) {
  .site-footer__wrapper {
    width: @tablet-width;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .site-footer__link-logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-footer__wrapper {
    width: @desktop-width;
  }
}
