// блок с ссылками на приложение в социальных сетях
.social-list {
  width: min-content;

  font-size: 0;

  .list-style-drop;

  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
}

.social-list__item {
  &:nth-child(2n) {
    margin: 0 15px;
  }
}

.social-list__link {
  width: 46px;
  height: 46px;

  background-color: #fefefe;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  display: block;

  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    margin: 9px 0 0 -2px;
  }

  .social-list__link {
    width: 49px;
    height: 49px;

    &--facebook {
      background-size: 9px;
      background-position: 16px 11px;
    }

    &--youtube {
      background-size: 16px;
      background-position: 14px 13px;
    }
  }
}
