// блок с ссылками на приложение в социальных сетях
.social-list {
  width: min-content;

  font-size: 0;

  .list-style-drop;

  margin-bottom: 39px;

  display: flex;
  flex-direction: row;

  &--gallery {
    margin-left: 2px;
  }

  &--challenge {
    margin-bottom: 38px;
    margin-left: 0;
  }
}

.social-list__item {
  &:nth-child(2n) {
    margin: 0 14px;
  }
}

.social-list__link {
  width: 50px;
  height: 50px;

  background-color: #fefefe;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  display: block;

  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-position: 12px 11px;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-size: 16px 14px;
    background-position: 13px 14px;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    margin: 11px 8px 0 0;

    &--gallery {
      margin: 11px 17px 0 0;
    }

    &--challenge {
      margin-right: 7px;
    }
  }

  .social-list__item {
    &:nth-child(2n) {
      margin: 0 13px;
    }
  }

  .social-list__link {
    width: 50px;
    height: 50px;

    &--twitter {
      background-position: 14px 14px;
    }

    &--facebook {
      background-size: 9px;
      background-position: 17px 12px;
    }

    &--youtube {
      background-size: 16px;
      background-position: 15px 14px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    margin: 12px 0 0 5px;

    padding-top: 1px;

    &--gallery {
      margin-top: 13px;
      margin-left: 14px;
    }

    &--challenge {
      margin: 13px 0 0 11px;
    }
  }
}
