.support-hub {
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.support-hub__wrapper {
  width: @mobile-width;

  padding: 20px 20px;

  position: absolute;
  top: 0;
  z-index: 1;

  background-color: @white-color-main;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-hub__headline {
  font-size: @f-size-24;
  font-weight: @f-weight-low;
  color: @f-color-main;

  line-height: 30px;
  text-align: center;
}

.support-hub__content-column {
  width: 250px;

  text-align: center;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-hub__write-back {
  margin-bottom: 26px;
}

.support-hub__write-back .support-hub__small-headline {
  margin-bottom: 5px;
}

.support-hub__come-visit .support-hub__small-headline {
  margin-bottom: 8px;
}

.support-hub__small-headline {
  font-size: @f-size-18;
  font-weight: @f-weight-high;
  color: @f-color-main;

  line-height: 20px;
}

.support-hub__accent-content {
  font-size: @f-size-24;
  font-weight: @f-weight-low;
  color: @f-color-accent;
  font-style: normal;

  text-align: center;
}

.support-hub__wrapper-map {
  width: @mobile-width;

  margin-top: -35px;

  &::after {
    width: 36px;
    height: 36px;

    content: "";

    background-image: url("../img/icon-map-marker.svg");
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 72px;
    right: 142px;
  }
}

@media (min-width: @tablet-width) {
  .support-hub {
    height: 780px;

    overflow: hidden;
  }

  .support-hub__wrapper {
    width: @tablet-width;

    padding-top: 47px;

    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .support-hub__headline {
    font-size: @f-size-40;

    line-height: 48px;

    padding: 0 100px;

    margin: 0 0 28px 0;
  }

  .support-hub__content-column {
    width: 250px;

    margin-bottom: 50px;
  }

  .support-hub__call-back {
    margin-right: 20px;
  }

  .support-hub__small-headline {
    margin-bottom: 8px;
  }

  .support-hub__come-visit .support-hub__small-headline {
    margin-bottom: 10px;
  }

  .support-hub__wrapper-map {
    width: 100%;

    margin-top: 90px;

    &::after {
      bottom: 144px;
      right: 312px;
    }
  }

  .support-hub_bg-map {
    width: 100%;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .support-hub {
    overflow: hidden;
  }

  .support-hub__wrapper {
    width: 1200px;

    padding: 65px 10px;

    top: -77px;

    justify-content: center;
  }

  .support-hub__headline {
    font-size: @f-size-50;

    line-height: 60px;

    padding: 0 300px;

    margin-bottom: 57px;
  }

  .support-hub__content-column {
    min-height: 110px;

    margin: 0;
  }

  .support-hub__come-visit {
    margin: 0 69px;
  }

  .support-hub__small-headline,
  .support-hub__come-visit .support-hub__small-headline,
  .support-hub__write-back .support-hub__small-headline {
    margin-bottom: 27px;
  }

  .support-hub__write-back {
    order: 1;
  }

  .support-hub__wrapper-map {
    &::after {
      bottom: 244px;
      right: 412px;
    }
  }
}
